*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1300px;

  @include breakpoint($mobile-bp) {
    padding: 15px;
  }

  @include breakpoint($tablet-bp) {
    padding: 35px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  line-height: 1.5;
  background-color: $primary;
  color: $white-txt;
}

//button

button {
  background-color: $gray;
  padding: 17px 27px;
  border: none;
  color: inherit;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 600;

  @include breakpoint($mobile-bp) {
    font-size: 18px;
    padding: 11px;
  }

  @include breakpoint($tablet-bp) {
    font-size: 20px;
    padding: 15px;
  }

  &:hover{
    border: 1px solid $accent;
    padding: 16px 26px;
  }
}


//Header
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  border-bottom: 2px solid $gray;

  &-logo {
    display: flex;
    &-title {
      font-family: "Raleway", sans-serif;
      font-size: 40px;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
      color: $accent;
      margin-left: 20px;

      @include breakpoint($mobile-bp) {
        font-size: 28px;
      }

      img {
        width: 20px;
      }
    }
  }

  &-nav {
    display: flex;
    li {
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-right: 35px;

      &:hover {
        color: $accent;

        transition: all 0.2s ease-in-out;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


//About 


.about{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    margin-top: 55px;

    &-info{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        &-title{
            font-size: 40px;
            font-style: italic;
            font-weight: 600;
            line-height: normal;
            font-family: "Raleway", sans-serif;
            color: $accent;
            margin-bottom: 50px;
            
        }
        &-txt{
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 155%;
        }
    }
}

//Catalog

.catalog{ 
  margin-top: 30px;

  &-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    
  }
 
  &-nav{
    display: flex;
    justify-content: center;
     & button{
      margin-right: 25px;
     }
  }

  &-item{
    background-color: $gray;
    padding: 30px;
    border-radius: 14px;
    margin-bottom: 30px;
    max-width: 370px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    &-image{
      width: 300px;
      height: 300px;
      background-color: $primary;
      display: block;
      margin-bottom: 30px;
    }

    &-title{
      text-transform: uppercase;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
          }

      &-price{
        color: $accent;
        margin: 10px 0;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

      }
      
      & button{
        background-color: $accent;
      }


      &:hover{
        background-color: $accent;
        color: $primary;
       

        & button{
          background-color: $gray;
          color: $white-txt;
          border: none;
        }
        & .catalog-item-price{
            color: $primary
        }
      }
    }
}